@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
body,
input,
textarea,
select,
button,
table {
  font-size: 14px;
  line-height: 1.5em;
}

body {
  position: relative;
  background-color: #ffffff;
}
img,
fieldset {
  border: 0;
}
ul,
ol {
  list-style: none;
}
em,
address {
  font-style: normal;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}
table {
  border-collapse: collapse;
}
hr {
  display: none !important;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
img {
  vertical-align: top;
}
.blind,
.u_skip {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* SE 3.0 이하 대응 코드 */

/* SE 뷰어영역 */
.detail_viewer .se_textView span {
  vertical-align: baseline;
}

/* SE 상품 태그(태깅 상품 툴팁 내용 -> product_tagging.css) */
.detail_viewer .se_point_tag_tooltip .se_point_tag_button {
  background: url(img/svg/icon/icon_plus_squared_31x31_white.svg) no-repeat;
  background-size: auto;
}
.detail_viewer .se_point_tag_tooltip.is-active .se_point_tag_button {
  background: url(img/svg/icon/icon_x_squared_31x31_black.svg) no-repeat;
  background-size: auto;
}

/* 센터 상품조회/수정 미리보기 > 미지원 첨부파일 */
.detail_viewer .editor_preview {
  width: 298px;
  height: 108px;
  border: 1px solid #ededed;
  background-color: #fafafa;
  text-align: center;
}
.detail_viewer .editor_preview .preview_txt {
  padding-top: 26px;
  font-family: '나눔고딕', 'Nanum Gothic','굴림', Gulim, sans-serif;
  font-size: 18px;
  color: #1088ed;
  letter-spacing: -1px;
}
.detail_viewer .editor_preview .preview_txt_depth {
  margin-top: 2px;
  font-family: '나눔고딕', 'Nanum Gothic', '굴림', Gulim, sans-serif;
  font-size: 13px;
  color: #848992;
  letter-spacing: -1px;
}
.detail_viewer .editor_preview .ico {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: -2px 5px 0 0;
  background: url(https://img-shop.pstatic.net/storefarm/front/common/point_ico.png) 0 0 no-repeat;
  vertical-align: top;
}



._3aNsjos9K5 {
    position: relative!important;
    padding: 50px 0 22px!important;
}
.bekkwdip3W {
    text-align: center;
    font-size : 100px;
}

._1YWP8VnWTb {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -6px;
    width: 218px;
    padding-right : 100px;
}

._1L46Yq05VR {
    position: relative;
    height: 40px;
    padding: 2px 40px 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 20px;
    background-clip: padding-box;
}

._1L46Yq05VR ._38DpYZHzTy {
    width: 100%;
    height: 36px;
    background-color: transparent;
    border: none;
    line-height: 36px;
    font-size: 12px;
    color: #000;
    outline: none;
}

._1L46Yq05VR ._1H_iy_tmiI {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 20px 10px 4px;
    line-height: 10px;
    outline: none;
}

._1L46Yq05VR ._1H_iy_tmiI .Y4Wg6LWa6z {
    background-image: url(https://static-resource-smartstore.pstatic.net/brandstore/p/static/20220519110506/img/sprite/svg/spIcon_svg.svg);
    background-size: 729px 689px;
    background-position: -594px -584px;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: transparent;
    vertical-align: top;
}


