@charset "UTF-8";


*:not(.main){
   margin: 0px;
    box-sizing: border-box;
    font-size: 11px;
}


html:not(.main){
   width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body:not(.main){
   width: 45%;
   border: 1px solid black;
   background-color: #f3f1e9;
}

input:not(.main){
   border: 1px solid black;
   border-radius: 3px;
   line-height: 35px;
   font-size: 12px;
   padding-left: 10px;
   padding-right: 10px;
}

.wrapper:not(.main){
   padding: 10px;
}

div:not(.main){
   padding-top: 3px;
   padding-bottom: 8px;
}

.title:not(.main){
    text-align: center;
    font-weight: 700;
}

.loginWrap {
    width: 480px;
    margin: 0 auto;
    padding-top: 60px;
}

.formBox {
    line-height: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: 0;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 0px;
}

.formlogin {
    line-height: normal;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    outline: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #2e2e2e;
    padding: 49px 0 0;
    letter-spacing: 0px;
}

.formBox .formlogin span {
    display: block;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

#id {
    outline: 0;
    font-family: 'Noto Sans KR', sans-serif;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    min-width: 100px;
    letter-spacing: 0px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0 !important;
    border-bottom: 1px solid #bababa !important;
    color: #000 !important;
    font-weight: bold;
    height: 50px !important;
    line-height: 50px !important;
    font-size: 16px;
    margin-bottom: 43px;
}

#pass {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0 !important;
    border-bottom: 1px solid #bababa !important;
    color: #000 !important;
    font-weight: bold;
    height: 50px !important;
    line-height: 50px !important;
    font-size: 16px;
}

body input[type="text"] {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    padding-left: 20px;
    font-size: 15px;
    color: #000;
    border: 1px solid #ddd;
    box-sizing: border-box;
    min-width: 100px;
}

.formBox .option {
    margin: 43px 0 58px;
    line-height: 1;
    font-size: 0;
}

.formBox .option > span.auto {
    margin-right: 25px;
}

.formBox .option > span{
    display: inline-block;
    float: none;
    margin: 0;
    line-height: 24px;
    vertical-align: top;
    color: #979696;
    font-weight: normal;
    font-style: normal;
}

.formBox .LoginArea {
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: 0;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 17px 0;
    cursor: pointer;
    letter-spacing: 0px;
}

.formBox .LoginArea .btnSubmit{
    box-sizing: border-box;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    display: inline-block;
    width: 100%;
    height: 55px;
    line-height: 1.2;
    font-size: 16px;
    color: #fff;
    border: 1px solid #ddd;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.2s;
    background: #dadada !important;
    letter-spacing: 0px;
}

.formBox .option > span input[type=checkbox] + label{
    position: relative;
    padding-left: 30px;
    line-height: 24px;
    font-size: 16px;
    font-weight: normal;
    vertical-align: top;
    background: url(../images/icons/input_unchked.svg) no-repeat left center;
    background-size: 20px auto;
}

.formBox .option > span input[type=checkbox] + label:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: #ddd;
    content: "";
    z-index: -1;
}

.formBox .joinArea {
    margin: 17px 0;
    cursor: pointer;
}

.formBox .joinArea .btnJoin{
box-sizing: border-box;
margin: 0;
padding: 0;
vertical-align: baseline;
outline: 0;
text-decoration: none;
font-family: 'Noto Sans KR', sans-serif;
margin-bottom: 10px;
background: #fff !important;
color: #000 !important;
border: 1px solid #000 !important;
height: 65px !important;
line-height: 65px !important;
display: block;
font-weight: bold;
border-radius: 8px;
text-align: center;
font-size: 16px;
letter-spacing: 0px;
}

.formBox .option > span input[type=checkbox] {
    display: none;
    margin: 0;
    background-size: 100% auto;
    vertical-align: bottom;
    border-radius: 3px;
    background-color: #ddd;
}

.formBox .option > span input[type=checkbox]:checked {
    background-color: #000;
}

.formBox .option > span input[type=checkbox]:checked + label {
    background: url(../images/icons/input_chked.svg) no-repeat left center;
}
